* {
    font-family: 'Roboto', sans-serif;
    background-color: #eb4d4b;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: #130f40;
}

table {
    font-size: 2rem;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

table tr td {
    padding: 20px;
    border: 1px solid #130f40;
}

div a {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: #130f40;
    font-weight: bold;
    margin-top: 20px;
}

div a:hover {
    color: #4834d4;
    transition: 0.5s;
}